* {
  margin: 0;
}

.headerB {
  background-image: url("../img/modern-paper-texture-black 1.png");
  background-size: cover;
  background-position: center;
  margin-top: 0px;
}

.header {
  height: 88.8888888889vh;
}
.header__blockLogo {
  Width: 70.14vw;
  padding-top: 20px;
  margin-left: 13.89vw;
}
.header__blockLogoLine1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.header__searchContainer {
  Width: 15.625vw;
  Height: 2.7778vh;
  Margin-top: 1.5741vh;
  Margin-left: 2.1528vw;
}
.header__searchInput {
  Width: 15.625vw;
  Height: 2.7778vh;
  border-radius: 15px;
  border-width: 1px;
  border-color: #FFFFFF;
  position: absolute;
  text-indent: 25px;
  background-color: transparent;
  color: #FFFFFF;
}
.header__searchButton {
  position: absolute;
  background: none;
  border: none;
  margin-left: 0.3472222222vw;
  margin-top: 0.462962963vh;
  width: 1.0416666667vw;
  height: 1.3888888889vh;
}
.header__logo {
  position: relative;
  width: 12.7777777778vw;
  height: 5.8333333333vh;
  margin-top: 0;
}
.header__logoIconLanguage {
  color: #FFFFFF;
}
.header__lineBlockLoogo {
  min-width: 11.8055555556vw;
  display: flex;
  justify-content: space-between;
  margin-top: 1.3888888889vh;
}
.header__languageSelector {
  color: #FFFFFF;
  margin-left: 0;
  margin-right: 0;
  min-width: 60px;
  margin-top: 0.462962963vh;
}
.header__linkIconLanguage {
  color: #FFFFFF;
  text-decoration: none;
}
.header__basket {
  width: 15px;
  height: 15px;
  margin-left: 30%;
}
.header__basketLogo {
  width: 30px;
  height: 30px;
}
.header__like {
  width: 15px;
  margin-left: 30%;
  height: 15px;
}
.header__likeLogo {
  width: 30px;
  height: 30px;
}
.header__menu {
  margin-top: 25px;
  margin-left: 0;
  padding: 0;
}
.header__menuList {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.header__menuItem {
  list-style: none;
  width: 11.4583333333vw;
  height: 4.6296296296vh;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  text-align: center;
  align-items: center;
  text-align: center;
}
.header__menuItemLink {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.25vw;
}
.header__menuItem:hover {
  background-color: #FFFFFF;
  transform: skewX(-20deg);
  transform-origin: left;
  transition: opacity 2s;
}
.header__blockHerro {
  margin-left: 11.8055555556vw;
  height: 75vh;
  display: flex;
}
.header__blockHerroText {
  width: 37.5vw;
  height: 40.7407407407vh;
  margin-left: 0;
  margin-bottom: 20.3703703704vh;
  margin-top: 13.8888888889vh;
}
.header__blockHerroTextHeader {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 5.6944444444vw;
  line-height: 5.4097222222vw;
  color: #F0F0F0;
  text-transform: uppercase;
}
.header__blockHerroTextHeaderYelow {
  color: #FFC700;
}
.header__blockHerroTextText {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.6666666667vw;
  line-height: 2.0319444444vw;
  color: #A8A8A8;
  width: 34.7222222222vw;
  height: 5.5555555556vh;
  margin-top: 3.2407407407vh;
}
.header__blockHerroTextButton {
  margin-top: 4.6296296296vh;
  margin-left: 0;
  width: 13.8888888889vw;
  height: 5.5555555556vh;
  background-color: #FFC700;
  border-radius: 5%;
}
.header__blockHerroTextButtonText {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 1.3888888889vw;
}
.header__blockHerroIMGimg {
  width: 46.875vw;
  height: 92.5925925926vh;
  margin-top: -18.7962962963vh;
  z-index: -1;
}/*# sourceMappingURL=styles.css.map */