*{
    margin: 0;
}

.headerB {
    background-image: url('../img/modern-paper-texture-black\ 1.png');
    background-size: cover;
    background-position: center;
    margin-top: 0px;

}

@import "headerBlock.scss";

